<div class="header__logo">
  <div class="logo">
    <img src="./img/Group 1.svg" alt="Mô tả về hình ảnh" />
  </div>
</div>

<style>
  .logo { padding:20px 0; } .logo img { max-width: 100%; }
</style>