* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* common */
ul li {
  list-style-type: none;
}
.container {
  width: 1440px;
  max-width: calc(100% - 36px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 124px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: var(--Color, #fff);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.header__logo {
  display: flex;
  align-items: center;
}
/* body */
.body {
  display: flex;
	position: relative;
}
.body .sidebar {
  width: 389px;
  flex-shrink: 0;
  border: 2px solid #000;
	border-bottom: none;
  background: var(--Color, #fff);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25) inset;
}
.body .content {
  flex: 1;
  flex-shrink: 0;
  border-block: 2px solid #000;
  background: var(--Color, #fff);
}
/* footer */
.footer {
  width: 100%;
  height: 136px;
  flex-shrink: 0;
  background: #206b7c;
}
