#book-management {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
  position: relative;
  padding-bottom: 1rem;
}

#title {
  margin-top: 2.3rem;
  color: #000;
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

#cate-list, #publisher-list {
  width: 100%;
  max-height: 30rem;
  overflow-y: auto;
}
